body {
  overflow-x: hidden;
}

.dino {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url(t-rex.png);
  background-repeat: no-repeat;
}

.dead {
  transform: rotate(-120deg);
  bottom: 10px;
  transition: transform 500ms linear;

}

.obstacle {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url(cacti.png);
  background-repeat: no-repeat;
}

.fadeOut {
  opacity: 0;
  transition: opacity 500ms linear;
}

.background {
  position: absolute;
  bottom: 0;
  height: 280px;
  width: 100%;
  background-image: url(t-rex-background-tall.png);
  background-repeat: repeat-x;
}

.background-border {
  position: absolute;
  bottom: 0;
  left: -10px;
  height: 280px;
  width: 110%;
  border-top: 1px solid grey;
}

@media (max-width: 550px) {
  .background {
    background-image: url(t-rex-background-small.png);
  }
}

.background.animate {
  animation-name: scrollBackground;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scrollBackground {
  from {
    background-position: 1000%;
  }
  to {
    background-position: 0;
  }
}

.play-again {
  display: none;
}

.background-toggle {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.switch::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  transition: left 300ms ease-in-out;
}

.switch::after {
  content: 'OFF';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}

.background-toggle:checked + .switch {
  background-color: blue;
}

.background-toggle:checked + .switch::before {
  left: 20px;
}

.background-toggle:checked+.switch::after {
  content: 'ON';
}

button {
  cursor: pointer;
}

.planet {
  border-radius: 50%;
  border: none;
}