.dino {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-color: red;
}

.obstacle {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-color: orange;
}