.dino {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url(t-rex.png);
  background-repeat: no-repeat;
}

.obstacle {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url(cacti.png);
  background-repeat: no-repeat;
}

.background {
  height: 200px;
  width: 99vw; /* 99 rather than 100 to stop scrollbar appearing */
  position: absolute;
  bottom: 0;
  background-image: url(t-rex-background.png);
  background-repeat: repeat-x;
  animation: scrollBackground 250s infinite linear;
}

@keyframes scrollBackground {
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0;
  }
}